*, *::before, *::after {
  box-sizing: inherit;
  border: 0;
  margin: 0;
}

html {
  box-sizing:border-box;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

main {
  max-width: 340px;
  margin: 0 auto;
}

/* Card Style */
.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  padding: 20px;
  width: 100%;

}
/* Hearder/image-code */
img {
  border-radius: 10px;
  display: block;
  width: 100%;
}
.card-header {
  width: 300px;
  padding-top: 20px;
  margin: auto;
}

/* Card Text */
.card-heading {
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 0;
}

.card-paragraph {
  color: hsl(220, 15%, 55%);
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 15px;
}

/* Footer attribution */
footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
 }

.attribution {
  font-size: 11px;
  margin-top: 9.3rem;
  position: absolute;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
